@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
  --main-color: #e1003c;
  --default-notification-item: blue;
  --urgent-notification-item: red;
  --breakpoint-mobile: 32.5rem;
  --breakpoint-wide: 57rem;
}

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-roboto);
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
