.App-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #e1003c;
  border-bottom: 2px solid #e1003c;
  padding: 1rem;
  font-family: "Arial";
}

.App-logo {
  height: 160px;
  width: auto;
}

.App-body {
  border-top: 2px solid #e1003c;
  border-bottom: 2px solid #e1003c;
  padding: 1rem;
  padding-bottom: 15rem;
  text-align: left;
}

#email {
  padding: 0 4px;
}

#password {
  padding: 0 4px;
}

button {
  padding: 0 4px;
}

.App-footer {
  text-align: center;
  font-style: italic;
  border-top: 2px solid #e1003c;
  padding: 0.5rem;
}